body {
   
        background: linear-gradient(-67deg, rgb(3, 245, 3), white, Dodgerblue, white);
        -webkit-animation: Gradient 3s ease infinite;
        animation: Gradient 3s ease infinite;
        transition: transform 1s ease-in-out, opacity 1s ease-in-out;
    
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

